<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.man"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- activity-groups -->
    <application
        android:name="com.app.util.ContextUtil"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <service android:name="com.app.service.Mp3Service" >
        </service>

        <activity
            android:name="com.app.activity.LoginB"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.activity.Woman"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Man"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Mine"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Vote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Sign"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.VoteAfter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.SignInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.SignSanwei"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.app.activity.SignSanweiB"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.app.activity.CityChange"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!--
        <activity
            android:name="com.app.activity.LoginB"
            android:label="@string/title_activity_login_b"
            android:screenOrientation="portrait" >
        </activity>
        -->
        <activity
            android:name="com.app.activity.Task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Attention"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Collect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Tree"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.TreeInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.activity.Comment"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name="com.app.activity.WriteArticle"
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <!-- permission-groups -->
    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 操作sd card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>